*{
    margin: 0px;
    padding: 0px;
}
 
.review-slider{
    width: 280px;
    overflow: hidden;
}

.slides-p__img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

    width: 90px;
    height: 90px;
}
.slides-p__vk{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slides{
    padding-top: 116px;
}

.navigation{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.bar + .bar{
    margin-left: 12px;
}
.right{
    position: absolute;
    left: 230px;
    bottom: 67px;
}
.left{
    position: absolute;
    left: 20px;
    bottom: 67px;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides{
    display: flex;
    width: 400%;
    height: 100%;
}

.slides-p{
    width: 25%;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -25%;
}
#r3:checked ~ .s1{
    margin-left: -50%;
}
#r4:checked ~ .s1{
    margin-left: -75%;
}

.review-header{
display: flex;
font-family: 'Montserrat';
font-weight: 800;
font-size: 20px;
line-height: 130%;

text-align: center;
letter-spacing: 0.03em;

padding: 0px;
margin: 0px;
margin-left: auto;
margin-right: auto;

height: 52px;
width: 280px;

color: #111518;

@media screen and (min-width:768px){
display: flex;
align-items: center;
justify-content: center;

font-family: 'Montserrat';
font-weight: 800;
font-size: 26px;
line-height: 130%;

text-align: center;
letter-spacing: 0.03em;

color: #111518;
      
height: 57px;
width: 688px;
}
}

.review-slider__header{
font-family: 'Montserrat';
font-weight: 800;
font-size: 14px;
line-height: 17px;

text-align: center;
letter-spacing: 0.08em;

color: #FF6B09;
margin-bottom: 16px;
}

.review-slider__p{
font-family: 'Montserrat';
font-weight: 500;
font-size: 12px;
line-height: 15px;
text-align: center;
letter-spacing: 0.08em;

color: #B9B9B9;

margin-bottom: 16px;
}

.review-slider__p2{
font-family: 'Montserrat';

font-weight: 500;
font-size: 12px;
line-height: 20px;

text-align: center;

color: #3D3D3D;
margin-bottom: 40px;

}



